---

---
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- ulのリスト先頭の「・」を非表示にする またリストを横に並べる -->
  <link media="all" href="css/4listjs.css" type="text/css" rel="stylesheet">
  <!-- pace を使ったローディングバーの表示 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.4/themes/black/pace-theme-loading-bar.min.css" integrity="sha512-p/7j92gn7aB9tDnfPF70pYqrHofcWtimt2eA+yEe2+h74ur0vHO79yjrpF0s1K9d02R6gkpBmLdZwPaCiazPQA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.4/pace.min.js" integrity="sha512-2cbsQGdowNDPcKuoBd2bCcsJky87Mv0LEtD/nunJUgk6MOYTgVMGihS/xCEghNf04DPhNiJ4DZw5BxDd1uyOdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <title>簡易OPAC（調整中）</title>
</head>
<body class="container">
  
  <h1 id="top">簡易OPAC（調整中)</h1>
  <ul>
    <li>収録範囲:2014-01-01/2023-10-13</li>
  </ul>
  <!-- list.jsのブロック idはlist.jsの呼び出しに使う　HTML末尾のスクリプトで指定している -->

  
  <div id="listdata">
    <div class="form-group">
      <label for="keyword">調べたい言葉を入力<span class="alert">※半角スペース区切りでAND検索可能</span></label>
      <!-- classをsearchにし、list.jsの検索欄に -->
      <input id="keyword" class="search form-control form-control-lg" placeholder="input any word" size="50" />

      <button class="sort" data-sort="kiji1">
      Sort by 分類
      </button>

      <span id="hits"></span>

    </div>
    <!-- classをpaginationにし、list.jsのページネーションに -->
    <div class="form-group">
      <ul class="pagination list-inline"></ul>
    </div>
    <br>
    <!--
      記事リスト
         <ul>のclassをlist.js指定の"list"にすることで処理が働く
         classは任意設定
    -->
    <ul class="list list-unstyled">

      {% for item in site.data.school_lib_data2014 %}
      <li>
        <p class="horizon"></p>
        <dl>
        <dd class="kiji1">{{ item.cls1 }} || {{ item.cls2 }} || {{ item.cls3 }} </dd>
        <dd class="kiji2">{{ item.title }} {{ item.auth }} </dd>
        <dd class="kiji3">{{ item.pub }}, {{ item.pub_year }}  {{ item.series }} </dd>
        <dd class="kiji4">{{ item.uke_ymd }} RGTN:{{ item.rgtn }} ISBN:{{ item.ISBN }} </dd>
        </dl>
      </li>
      {% endfor %}
      
      {% for item in site.data.2015  %}
      <li>
        <p class="horizon"></p>
        <dl>
        <dd class="kiji1">{{ item.cls1 }} || {{ item.cls2 }} || {{ item.cls3 }} </dd>
        <dd class="kiji2">{{ item.title }} {{ item.auth }} </dd>
        <dd class="kiji3">{{ item.pub }}, {{ item.pub_year }}  {{ item.series }} </dd>
        <dd class="kiji4">{{ item.uke_ymd }} RGTN:{{ item.rgtn }} ISBN:{{ item.ISBN }} </dd>
        </dl>
      </li>
      {% endfor %}
      
      {% for item in site.data.2016  %}
      <li>
        <p class="horizon"></p>
        <dl>
        <dd class="kiji1">{{ item.cls1 }} || {{ item.cls2 }} || {{ item.cls3 }} </dd>
        <dd class="kiji2">{{ item.title }} {{ item.auth }} </dd>
        <dd class="kiji3">{{ item.pub }}, {{ item.pub_year }}  {{ item.series }} </dd>
        <dd class="kiji4">{{ item.uke_ymd }} RGTN:{{ item.rgtn }} ISBN:{{ item.ISBN }} </dd>
        </dl>
      </li>
      {% endfor %}
      {% for item in site.data.2017  %}
      <li>
        <p class="horizon"></p>
        <dl>
        <dd class="kiji1">{{ item.cls1 }} || {{ item.cls2 }} || {{ item.cls3 }} </dd>
        <dd class="kiji2">{{ item.title }} {{ item.auth }} </dd>
        <dd class="kiji3">{{ item.pub }}, {{ item.pub_year }}  {{ item.series }} </dd>
        <dd class="kiji4">{{ item.uke_ymd }} RGTN:{{ item.rgtn }} ISBN:{{ item.ISBN }} </dd>
        </dl>
      </li>
      {% endfor %}

       {% for item in site.data.2018  %}
      <li>
        <p class="horizon"></p>
        <dl>
        <dd class="kiji1">{{ item.cls1 }} || {{ item.cls2 }} || {{ item.cls3 }} </dd>
        <dd class="kiji2">{{ item.title }} {{ item.auth }} </dd>
        <dd class="kiji3">{{ item.pub }}, {{ item.pub_year }}  {{ item.series }} </dd>
        <dd class="kiji4">{{ item.uke_ymd }} RGTN:{{ item.rgtn }} ISBN:{{ item.ISBN }} </dd>
        </dl>
      </li>
      {% endfor %}

      {% for item in site.data.2019  %}
      <li>
        <p class="horizon"></p>
        <dl>
        <dd class="kiji1">{{ item.cls1 }} || {{ item.cls2 }} || {{ item.cls3 }} </dd>
        <dd class="kiji2">{{ item.title }} {{ item.auth }} </dd>
        <dd class="kiji3">{{ item.pub }}, {{ item.pub_year }}  {{ item.series }} </dd>
        <dd class="kiji4">{{ item.uke_ymd }} RGTN:{{ item.rgtn }} ISBN:{{ item.ISBN }} </dd>
        </dl>
      </li>
      {% endfor %}

      {% for item in site.data.2020  %}
      <li>
        <p class="horizon"></p>
        <dl>
        <dd class="kiji1">{{ item.cls1 }} || {{ item.cls2 }} || {{ item.cls3 }} </dd>
        <dd class="kiji2">{{ item.title }} {{ item.auth }} </dd>
        <dd class="kiji3">{{ item.pub }}, {{ item.pub_year }}  {{ item.series }} </dd>
        <dd class="kiji4">{{ item.uke_ymd }} RGTN:{{ item.rgtn }} ISBN:{{ item.ISBN }} </dd>
        </dl>
      </li>
      {% endfor %}
    
      {% for item in site.data.2021  %}
      <li>
        <p class="horizon"></p>
        <dl>
        <dd class="kiji1">{{ item.cls1 }} || {{ item.cls2 }} || {{ item.cls3 }} </dd>
        <dd class="kiji2">{{ item.title }} {{ item.auth }} </dd>
        <dd class="kiji3">{{ item.pub }}, {{ item.pub_year }}  {{ item.series }} </dd>
        <dd class="kiji4">{{ item.uke_ymd }} RGTN:{{ item.rgtn }} ISBN:{{ item.ISBN }} </dd>
        </dl>
      </li>
      {% endfor %}

      {% for item in site.data.2022  %}
      <li>
        <p class="horizon"></p>
        <dl>
        <dd class="kiji1">{{ item.cls1 }} || {{ item.cls2 }} || {{ item.cls3 }} </dd>
        <dd class="kiji2">{{ item.title }} {{ item.auth }} </dd>
        <dd class="kiji3">{{ item.pub }}, {{ item.pub_year }}  {{ item.series }} </dd>
        <dd class="kiji4">{{ item.uke_ymd }} RGTN:{{ item.rgtn }} ISBN:{{ item.ISBN }} </dd>
        </dl>
      </li>
      {% endfor %}

      {% for item in site.data.2023  %}
      <li>
        <p class="horizon"></p>
        <dl>
        <dd class="kiji1">{{ item.cls1 }} || {{ item.cls2 }} || {{ item.cls3 }} </dd>
        <dd class="kiji2">{{ item.title }} {{ item.auth }} </dd>
        <dd class="kiji3">{{ item.pub }}, {{ item.pub_year }}  {{ item.series }} </dd>
        <dd class="kiji4">{{ item.uke_ymd }} RGTN:{{ item.rgtn }} ISBN:{{ item.ISBN }} </dd>
        </dl>
      </li>
      {% endfor %}
      
    </ul>
  </div>
  <hr>
  <footer>
    <a href="#top">ページトップへ</a>
  </footer>
<!-- list.js スクリプトの記述 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
<script>
  // List.jsの動作パラメータ設定
  var options = {
    // 対象とするclass を指定
    // valueNames: ['kiji', 'vol', 'hizuke', ],
    valueNames: ['kiji2',　'kiji1', ],
    // ページネーション指定 pageはページごとの表示件数
    page: 10,
    pagination: {
      paginationClass: 'pagination',
      innerWindow: 4,
      outerWindow: 1,
    }
  };
  // list.jsの対象とする<div>のidを指定
  var listObj = new List('listdata', options);
  // iOS対応のため、inputイベントで動作させる。併せてヒット件数を表示させる。
  $('#keyword').on('input', function() {
    var searchString = $(this).val();
    listObj.search(searchString);
    $('#hits').html(listObj.matchingItems.length + "件ヒットしました");
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
</html>
